.slider-arrow-direction-left,
.slider-arrow-direction-left * {
  box-sizing: border-box;
}
.slider-arrow-direction-left {
  background: var(--color-scheme-1-foreground, #ffffff);
  border-radius: 50px;
  border-style: solid;
  border-color: var(--color-scheme-1-border, #000000);
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  position: relative;
}
