.home,
.home * {
  box-sizing: border-box;
}
.home {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  overflow: hidden;
}
.home .navbar-2 {
  background: var(--color-scheme-1-background, #ffffff);
  padding: 0px 64px 0px 64px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 1440px;
  height: 72px;
  position: relative;
}
.home .container {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .content {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.home .company-logo-instance {
  flex-shrink: 0 !important;
}
.home .column {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .link {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}
.home .link-text {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.home .link2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .nav-link-dropdown {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .chevron-down {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.home .actions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  position: relative;
}
.home .button-instance {
  flex-shrink: 0 !important;
}
.home .header-84 {
  background: var(--color-scheme-1-background, #ffffff);
  padding: 80px 64px 80px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.home .container2 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .card {
  background: var(--color-scheme-1-foreground, #ffffff);
  border-style: solid;
  border-color: var(--color-scheme-1-border, #000000);
  border-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1312px;
  position: relative;
  overflow: hidden;
}
.home .column2 {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.home .content2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .medium-length-hero-headline-goes-here {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(--heading-desktop-h1-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-desktop-h1-font-size, 56px);
  line-height: var(--heading-desktop-h1-line-height, 120%);
  font-weight: var(--heading-desktop-h1-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.home
  .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-suspendisse-varius-enim-in-eros-elementum-tristique-duis-cursus-mi-quis-viverra-ornare-eros-dolor-interdum-nulla-ut-commodo-diam-libero-vitae-erat {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-medium-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-medium-normal-font-size, 18px);
  line-height: var(--text-medium-normal-line-height, 150%);
  font-weight: var(--text-medium-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.home .actions2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  height: 640px;
  position: relative;
}
.home .placeholder-image {
  align-self: stretch;
  flex: 1;
  position: relative;
  object-fit: cover;
}
.home .layout-6 {
  background: var(--color-scheme-1-background, #ffffff);
  padding: 112px 64px 112px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.home .container3 {
  display: flex;
  flex-direction: row;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .content3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.home .heading {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(--heading-desktop-h3-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-desktop-h3-font-size, 40px);
  line-height: var(--heading-desktop-h3-line-height, 120%);
  font-weight: var(--heading-desktop-h3-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.home .text {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-medium-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-medium-normal-font-size, 18px);
  line-height: var(--text-medium-normal-line-height, 150%);
  font-weight: var(--text-medium-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.home .content4 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .row {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.home .subheading-one {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(--heading-desktop-h6-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-desktop-h6-font-size, 20px);
  line-height: var(--heading-desktop-h6-line-height, 140%);
  font-weight: var(--heading-desktop-h6-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.home .text2 {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
  align-self: stretch;
}
.home .subheading-two {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(--heading-desktop-h6-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-desktop-h6-font-size, 20px);
  line-height: var(--heading-desktop-h6-line-height, 140%);
  font-weight: var(--heading-desktop-h6-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.home .placeholder-image2 {
  flex: 1;
  height: 640px;
  position: relative;
  object-fit: cover;
}
.home .testimonial-10 {
  background: var(--color-scheme-1-background, #ffffff);
  padding: 112px 64px 112px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.home .content5 {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .container4 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .column3 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1312px;
  position: relative;
  overflow: hidden;
}
.home .content6 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 768px;
  position: relative;
  overflow: hidden;
}
.home .stars {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.home .quote {
  color: var(--color-scheme-1-text, #000000);
  text-align: center;
  font-family: var(--heading-desktop-h5-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-desktop-h5-font-size, 24px);
  line-height: var(--heading-desktop-h5-line-height, 140%);
  font-weight: var(--heading-desktop-h5-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.home .avatar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .avatar-image {
  border-radius: 50%;
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  position: relative;
  object-fit: cover;
}
.home .avatar-content {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .text3 {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-regular-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-regular-semi-bold-font-size, 16px);
  line-height: var(--text-regular-semi-bold-line-height, 150%);
  font-weight: var(--text-regular-semi-bold-font-weight, 600);
  position: relative;
}
.home .text4 {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
}
.home .divider {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--color-scheme-1-border, #000000);
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 61px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.home .placeholder-logo-instance {
  width: 120px !important;
  height: 48px !important;
}
.home .column4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1312px;
  position: relative;
  overflow: hidden;
}
.home .stars2 {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  height: auto;
  position: relative;
  overflow: visible;
}
.home .slider-dots {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 9px;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .dot {
  background: var(--color-scheme-1-text, #000000);
  border-radius: 50%;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.home .dot2 {
  background: var(--color-scheme-1-text, #000000);
  border-radius: 50%;
  opacity: 0.2;
  flex-shrink: 0;
  width: 8px;
  height: 8px;
  position: relative;
}
.home .slider-arrow-instance {
  flex-shrink: 0 !important;
  position: absolute !important;
  left: 0px !important;
  top: 98.67px !important;
}
.home .slider-arrow-instance2 {
  flex-shrink: 0 !important;
  position: absolute !important;
  left: 1264px !important;
  top: 98.67px !important;
}
.home .layout-18 {
  background: var(--color-scheme-1-background, #ffffff);
  padding: 112px 64px 112px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.home .list {
  padding: 8px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .list-item2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .icon-relume-instance2 {
  width: 16px !important;
  height: 16px !important;
}
.home .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-regular-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-regular-normal-font-size, 16px);
  line-height: var(--text-regular-normal-line-height, 150%);
  font-weight: var(--text-regular-normal-font-weight, 400);
  position: relative;
  flex: 1;
}
.home .icon-relume-instance3 {
  width: 16px !important;
  height: 16px !important;
}
.home .icon-relume-instance4 {
  width: 16px !important;
  height: 16px !important;
}
.home .layout-1 {
  background: var(--color-scheme-1-background, #ffffff);
  padding: 112px 64px 112px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.home .section-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .tagline-wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .tagline {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --heading-desktop-tagline-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--heading-desktop-tagline-font-size, 16px);
  line-height: var(--heading-desktop-tagline-line-height, 150%);
  font-weight: var(--heading-desktop-tagline-font-weight, 600);
  position: relative;
}
.home .heading2 {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(--heading-desktop-h2-font-family, "Roboto-Bold", sans-serif);
  font-size: var(--heading-desktop-h2-font-size, 48px);
  line-height: var(--heading-desktop-h2-line-height, 120%);
  font-weight: var(--heading-desktop-h2-font-weight, 700);
  position: relative;
  align-self: stretch;
}
.home .actions3 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .button-instance2 {
  flex-shrink: 0 !important;
  overflow: hidden !important;
}
.home .cta-7 {
  background: var(--color-scheme-1-background, #ffffff);
  padding: 112px 64px 112px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.home .container5 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .content7 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 1;
  position: relative;
}
.home .row2 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 768px;
  position: relative;
}
.home .footer-7 {
  background: var(--color-scheme-1-background, #ffffff);
  padding: 80px 64px 80px 64px;
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1440px;
  position: relative;
  overflow: hidden;
}
.home .content8 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .logo {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.home .links {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  width: 493px;
  position: relative;
}
.home .about-us {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
}
.home .services {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
}
.home .contact-us {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
}
.home .blog {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
}
.home .support {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-small-semi-bold-font-family,
    "Roboto-SemiBold",
    sans-serif
  );
  font-size: var(--text-small-semi-bold-font-size, 14px);
  line-height: var(--text-small-semi-bold-line-height, 150%);
  font-weight: var(--text-small-semi-bold-font-weight, 600);
  position: relative;
}
.home .credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home .divider2 {
  margin-top: -1px;
  border-style: solid;
  border-color: var(--color-scheme-1-border, #000000);
  border-width: 1px 0 0 0;
  align-self: stretch;
  flex-shrink: 0;
  height: 0px;
  position: relative;
}
.home .row3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.home ._2025-relume-all-rights-reserved {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(
    --text-small-normal-font-family,
    "Roboto-Regular",
    sans-serif
  );
  font-size: var(--text-small-normal-font-size, 14px);
  line-height: var(--text-small-normal-line-height, 150%);
  font-weight: var(--text-small-normal-font-weight, 400);
  position: relative;
}
.home .footer-links {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.home .privacy-policy {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}
.home .terms-of-service {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}
.home .cookies-settings {
  color: var(--color-scheme-1-text, #000000);
  text-align: left;
  font-family: var(--text-small-link-font-family, "Roboto-Regular", sans-serif);
  font-size: var(--text-small-link-font-size, 14px);
  line-height: var(--text-small-link-line-height, 150%);
  font-weight: var(--text-small-link-font-weight, 400);
  text-decoration: underline;
  position: relative;
}

/* nested override styles */
